body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--light-grayish-orange);
}   

body::-webkit-scrollbar-thumb {
  background: var(--dark-grayish-cyan);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grayish-cyan);
}

:root {
  /* Color variables */
  --light-grayish-orange: #FAEDdf;
  --light-grayish-yellow: #FEFAEA;
  --light-grayish-green: #E9EDF7;
  --grayish-yellow: #CCD996;
  --dark-grayish-cyan: #94AFDF;
  --very-dark-desaturated-green: #0A4D98;

  /* Font-size variables */

  --font-xs: 10px;
  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
  --font-xxl: 20px;
  --font-xxxl: 24px;
}
